.game {
    height: 400px;
    max-width: 400px;
    display:flex;
    flex-wrap: wrap;
    background-color: aqua;
    .hole {
    margin:25px;
    height:50px;
    width: 50px;
    transition:.3s;
    background: blue;
    border-radius:50px;
    &:hover {
        transform: scale(1.5);
        }
    }
}
